<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{add_products_title}">Add Product</title>
    <th:block th:include="fragments/head::myHead"></th:block>
</head>

<body>
<div class="d-flex flex-column min-vh-100">
    <header class="container-fluid p-0 bg-dark">
        <nav th:replace="fragments/navigation::myNav"></nav>
    </header>

    <main class="d-flex flex-column container justify-content-center align-items-center flex-grow-1 py-0">
        <h2 class="text-center text-white" th:text="#{add_products_title}">Add Products</h2>

        <p th:if="${insufficientResources}" class="errors alert alert-danger" th:text="#{add_products_err}">
            Resources to create the requested amount of products are not enough!
        </p>

        <form th:action="@{/products/add}" th:method="post" th:object="${productAddBindingModel}"
              class="main-form col-md-6 d-flex flex-column justify-content-center">
            <!--        <div class="row">-->
            <div class="form-group col-md-12 mb-3">
                <label for="type" class="text-white font-weight-bold" th:text="#{add_products_type}">Type</label>
                <select th:field="*{type}" th:errorclass="'is-invalid bg-danger'" id="type" name="type" class="form-select">
                    <option value="" th:text="#{add_products_select_type}" selected>Select Type</option>
                    <option th:each="p : ${T(bg.softuni.PureWaterMiniCRM.models.entities.enums.ProductCategoryEnum).values()}" th:value="${p}" th:text="${p.name().substring(0, 1) + p.name().substring(1).toLowerCase()}">Select Type</option>
                </select>
                <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="errors alert alert-danger">
                    Custom Err Msg.
                </p>
            </div>
            <div class="form-group col-md-12 mb-3">
                <label class="text-center text-white font-weight-bold" for="quantity" th:text="#{add_products_quantity}">Quantity</label>
                <input th:field="*{quantity}" th:errorclass="'is-invalid bg-danger'" id="quantity" name="quantity" type="number" required min="0" class="form-control"
                       th:placeholder="#{add_products_quantity}"/>
                <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="errors alert alert-danger">
                    Custom Err Msg.
                </p>
            </div>
            <!--        </div>-->
            <!--        <div class="row">-->
            <div class="form-group col-md-12 mb-3">
                <label for="productionDate" class="text-white font-weight-bold" th:text="#{add_products_production_date}">Production Date</label>
                <input th:field="*{productionDate}" th:errorclass="'is-invalid bg-danger'" type="datetime-local" class="form-control" id="productionDate" name="productionDate"
                       aria-describedby="orderTimeHelpInline">
                <p th:if="${#fields.hasErrors('productionDate')}" th:errors="*{productionDate}" class="errors alert alert-danger">
                    Custom Err Msg.
                </p>
            </div>
            <!--        </div>-->

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" th:value="#{add_products_submit}"/>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer th:replace="fragments/footer::myFooter"> </footer>
</div>
</body>

</html>
