<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Product</title>
    <th:block th:include="fragments/head::myHead"></th:block>
</head>

<body>

<div>
    <nav th:replace="fragments/navigation::myNav"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Add Products</h2>

    <form th:action="@{/products/add}" th:method="post" th:object="${productAddBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
<!--        <div class="row">-->
            <div class="form-group col-md-6 mb-3">
                <label for="type" class="text-white font-weight-bold">Type</label>
                <select th:field="*{type}" th:errorclass="is-invalid" id="type" name="type" class="custom-select">
                    <option value="" selected>Select Type</option>
                    <option th:each="p : ${T(bg.softuni.PureWaterMiniCRM.models.entities.enums.ProductCategoryEnum).values()}" th:value="${p}" th:text="${p.name().substring(0, 1) + p.name().substring(1).toLowerCase()}">Select Type</option>
                </select>
                <p class="invalid-feedback  errors alert alert-danger">
                    Raw materials type should be selected.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="quantity">Quantity</label>
                <input th:field="*{quantity}" th:errorclass="is-invalid" id="quantity" name="quantity" type="number" required min="0" class="form-control"
                       placeholder="Quantity"/>
                <p class="invalid-feedback  errors alert alert-danger">
                    Quantity should be a positive number.
                </p>
            </div>
<!--        </div>-->
<!--        <div class="row">-->
            <div class="form-group col-md-6 mb-3">
                <label for="productionDate" class="text-white font-weight-bold">Production Date</label>
                    <input th:field="*{productionDate}" th:errorclass="is-invalid" type="datetime-local" class="form-control" id="productionDate" name="productionDate"
                           aria-describedby="orderTimeHelpInline">
                    <p class="invalid-feedback  errors alert alert-danger">
                        Production date should be selected and cannot be in the future.
                    </p>
            </div>
<!--        </div>-->

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Add"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="fragments/footer::myFooter"> </footer>
</div>

</body>
</html>
