<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Raw Materials</title>
    <th:block th:include="fragments/head::myHead"></th:block>
</head>

<body>

<div>
    <nav th:replace="fragments/navigation::myNav"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Add Raw Materials</h2>

    <form th:action="@{/materials/add}" th:method="post" th:object="${rawMaterialAddBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="type" class="text-white font-weight-bold">Type</label>
                <select th:field="*{type}" th:errorclass="is-invalid" id="type" name="type" class="custom-select">
                    <option value="" selected>Select Type</option>
                    <option th:each="raw : ${T(bg.softuni.PureWaterMiniCRM.models.entities.enums.RawMaterialType).values()}" th:value="${raw}" th:text="${raw.name().substring(0, 1) + raw.name().substring(1).toLowerCase()}">Select Type</option>
                </select>
                <p class="invalid-feedback  errors alert alert-danger">
                    Raw materials type should be selected.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="quantity">Quantity</label>
                <input th:field="*{quantity}" th:errorclass="is-invalid" id="quantity" name="quantity" type="number" required min="0" class="form-control"
                       placeholder="Quantity"/>
                <p class="invalid-feedback  errors alert alert-danger">
                    Quantity should be a positive number.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="deliveredAt" class="text-white font-weight-bold">Delivered On</label>
                    <input th:field="*{deliveredAt}" th:errorclass="is-invalid" type="datetime-local" class="form-control" id="deliveredAt" name="deliveredAt"
                           aria-describedby="orderTimeHelpInline">
                    <p class="invalid-feedback  errors alert alert-danger">
                        Delivery time should be selected and cannot be in the future.
                    </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="supplierName" class="text-white font-weight-bold">Supplier</label>
                <select th:field="*{supplierName}" th:errorclass="is-invalid" id="supplierName" name="supplierName" class="custom-select">
                    <option value="" selected>Select Supplier</option>
                    <option th:each="s : ${suppliers}" th:value="${s.getCompanyName()}" th:text="${s.getCompanyName()}">Select Supplier</option>
                </select>
                <p class="invalid-feedback  errors alert alert-danger">
                    A supplier should be selected.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Add"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="fragments/footer::myFooter"> </footer>
</div>

</body>
</html>
