<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{all_customers_title}">All Customers</title>
    <th:block th:include="fragments/head::myHead"></th:block>
</head>

<body class="bg-secondary">
<div class="d-flex flex-column min-vh-100">
    <header class="container-fluid p-0 bg-dark">
        <nav th:replace="fragments/navigation::myNav"></nav>
    </header>

    <main class="d-flex flex-column container justify-content-center align-items-center flex-grow-1 py-0">
        <h1 class="display-3"><strong class="bg-blur rounded text-white" th:text="#{all_customers_title}">All Customers</strong></h1>
        <table class="table table-dark">
            <thead>
            <tr class="table-head">
                <th scope="col" th:text="#{all_orders_company_name}">Company Name</th>
                <th scope="col" th:text="#{all_orders_email}">Email</th>
                <th scope="col" th:text="#{all_orders_address}">Address</th>
                <th scope="col" th:text="#{all_orders_phone_number}">Phone Number</th>
                <th scope="col" th:text="#{all_orders_description}">Description</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${allCustomers}" th:object="${c}">
                <th scope="row" th:text="*{companyName}">Name</th>
                <td th:text="*{email}">Email</td>
                <td th:text="*{address}">Address</td>
                <td th:text="*{phoneNumber}">Phone Number</td>
                <td th:text="*{description}">Description</td>
                <td>
                    <a class="ml-3 p-3 text-warning" th:text="#{home_details}" th:href="@{/customers/details/{id}(id = *{id})}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer th:replace="fragments/footer::myFooter"> </footer>
</div>
</body>

</html>