<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Raw Materials</title>
    <th:block th:include="fragments/head::myHead"></th:block>
</head>
<body class="bg-secondary">
<div>
    <nav th:replace="fragments/navigation::myNav"></nav>
</div>
<main role="main" class="bg-secondary">

    <div class="jumbotron text-center">
        <div class="container text-light text-center">
            <h1 class="display-3"><strong class="bg-blur rounded" th:text="#{all_raw_materials_title}">All Raw Materials</strong></h1>
        </div>
        <div class="col-5 bg-blur rounded m-auto pb-3">
            <h3 class="mySticky bg-gray text-light rounded"></h3>
            <div th:each="m : ${allMaterials}" th:object="${m}" class="mt-3 rounded badge-info p-3">
                <span class="p-3" th:inline="text"><strong th:text="#{all_raw_materials_type}">Type:</strong> [[*{type}]]
                    &nbsp;&nbsp;&nbsp;<strong th:text="#{all_raw_materials_quantity}">Quantity:</strong> [[*{quantity}]]
                    &nbsp&nbsp;&nbsp;<strong th:text="#{all_raw_materials_production_date}">Delivery Date:</strong> [[${m.getFormattedDeliveredAt()}]]
                    &nbsp;&nbsp;&nbsp;<strong th:text="#{all_raw_materials_supplier}">Supplier:</strong> [[*{supplier.getCompanyName()}]]
                </span>
            </div>
        </div>
    </div>
</main>
<div>
    <footer th:replace="fragments/footer::myFooter"> </footer>
</div>
</body>
</html>