<!DOCTYPE html>
<html lang="en">
    <head>
        <title th:text="#{orders_history_title}">Order History</title>
        <th:block th:include="fragments/head::myHead"></th:block>
    </head>

    <body class="bg-secondary">
        <div class="d-flex flex-column min-vh-100">
            <header class="container-fluid p-0 bg-dark">
                <nav th:replace="fragments/navigation::myNav"></nav>
            </header>

            <main class="d-flex flex-column container justify-content-center align-items-center flex-grow-1 py-0">
                <h1 class="display-3"><strong class="bg-blur rounded text-white" th:text="#{orders_history_title}">Order History</strong></h1>
                <table class="table table-dark">
                    <thead>
                    <tr class="table-head">
                        <th scope="col" th:text="#{orders_history_name}">Name</th>
                        <th scope="col" th:text="#{orders_history_type}">Type</th>
                        <th scope="col" th:text="#{orders_history_quantity}">Quantity</th>
                        <th scope="col" th:text="#{orders_history_price}">Price</th>
                        <th scope="col" th:text="#{orders_history_completion_date}">Completion Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${allOrders}" th:object="${order}">
                        <th scope="row" th:text="*{name}">Name</th>
                        <td th:text="*{prodCategory.name()}">Type</td>
                        <td th:text="*{quantity}">Quantity</td>
                        <td th:text="*{totalPrice}">Price</td>
                        <td th:text="*{completionDate}">Completion Date</td>
                    </tr>
                    </tbody>
                </table>
            </main>
            <footer th:replace="fragments/footer::myFooter"> </footer>
        </div>
    </body>
</html>