<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{product_details_title}">Product Details</title>
    <th:block th:include="fragments/head::myHead"></th:block>
</head>

<body>
<div class="d-flex flex-column min-vh-100">
    <header class="container-fluid p-0 bg-dark">
        <nav th:replace="fragments/navigation::myNav"></nav>
    </header>

    <main class="d-flex flex-column container justify-content-center align-items-center flex-grow-1 py-0">
        <h2 class="text-center text-white" th:text="#{product_details_title}">Product Details</h2>

        <p th:if="${isNotUpdateSuccess}" class="errors alert alert-danger width-700" th:text="#{customer_details_notSuccessUpdate}">
            Update was not successful!
        </p>

        <p th:if="${isUpdateSuccess}" class="alert alert-success width-700" th:text="#{customer_details_SuccessUpdate}">
            Successful update!
        </p>
        <div class="d-flex flex-column justify-content-center align-items-center gray-linear-gradient-background border-radius-20 p-4 width-700">
            <form th:object="${productDetails}" th:action="@{/products/update/{id}(id=*{id})}" th:method="post"
                  class="col-md-12 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="type" class="text-white font-weight-bold" th:text="#{product_details_type}">Type</label>
                        <input th:field="*{type}" id="type" name="type" class="form-control" readonly>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label class="text-center text-white font-weight-bold" for="quantity" th:text="#{product_details_quantity}">Quantity</label>
                        <input th:field="*{quantity}" id="quantity" name="quantity" type="number" required min="0" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="productionDate" class="text-white font-weight-bold" th:inline="text"><span th:text="#{product_details_production_date}">Production Date</span> [[${productDetails.getFormattedProductionDate()}]]</label>
                        <input th:field="*{productionDate}" type="datetime-local" class="form-control" id="productionDate" name="productionDate"
                               aria-describedby="orderTimeHelpInline">
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-4">
                        <div class="button-holder d-flex">
                            <input type="submit" class="btn btn-info btn-lg" th:value="#{product_details_update}"/>
                        </div>
                    </div>
                </div>
            </form>

            <form th:object="${productDetails}" th:action="@{/products/delete/{id}(id=*{id})}" th:method="delete" class="col-md-12">
                <div class="row">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg form-buttons-align" th:value="#{product_details_delete}"/>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="fragments/footer::myFooter"> </footer>
</div>
</body>

</html>
