<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
    <th:block th:include="fragments/head::myHead"></th:block>
</head>

<body>

<div>
    <nav th:replace="fragments/navigation::myNav"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Register User</h2>

    <p th:if="${isExists} == true" class="errors alert alert-danger">
        User with the provided username or email already exists.
    </p>

    <form th:action="@{/users/register}" th:method="post" th:object="${userRegisterBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input th:field="*{firstName}" th:errorclass="is-invalid" id="firstName" name="firstName" type="text" min="2" max="20" class="form-control"
                       placeholder="First name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    First name is required. Should be between 2 and 20 chars long.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input th:field="*{lastName}" th:errorclass="is-invalid" id="lastName" name="lastName" type="text" min="2" max="20" class="form-control"
                       placeholder="Last name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Last name is required. Should be between 2 and 20 chars long.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input th:field="*{username}" th:errorclass="bg-danger" id="username" name="username" type="text" min="2" max="20" class="form-control"
                       placeholder="Username"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errors alert alert-danger">
                    A Custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="email">Email</label>
                <input th:field="*{email}" th:errorclass="bg-danger" id="email" name="email" type="email" required class="form-control"
                       placeholder="Email"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input th:field="*{password}" th:errorclass="bg-danger" id="password" name="password" type="password" min="5" class="form-control"
                       placeholder="Password"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="confirmPassword" class="text-white font-weight-bold">Confirm Password</label>
                <input th:field="*{confirmPassword}" th:errorclass="bg-danger" id="confirmPassword" name="confirmPassword" type="password" min="5" class="form-control"
                       placeholder="Password"/>
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Register"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="fragments/footer::myFooter"> </footer>
</div>

</body>
</html>
