<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Nav Bar Fragment-->
<nav th:fragment="myNav" class="container py-2 navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/}"><img alt="bottle picture" src="/images/bottle-favicon.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto col-12 justify-content-between">
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders/add}" th:text="#{navbar_add_order}">Add Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customers/add}" th:text="#{navbar_add_customer}">Add Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/suppliers/add}" th:text="#{navbar_add_supplier}">Add Supplier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products/add}" th:text="#{navbar_add_products}">Add Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/materials/add}" th:text="#{navbar_add_raw_materials}">Add Raw
                        Materials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders/history}" th:text="#{navbar_order_history}">Order History</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownReports" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{navbar_all}">
                        All
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownReports">
                        <a class="dropdown-item" th:href="@{/customers/all}"
                           th:text="#{navbar_all_customers}">Customers</a>
                        <a class="dropdown-item" th:href="@{/suppliers/all}"
                           th:text="#{navbar_all_suppliers}">Suppliers</a>
                        <a class="dropdown-item" th:href="@{/products/all}"
                           th:text="#{navbar_all_products}">Products</a>
                        <a class="dropdown-item" th:href="@{/materials/all}" th:text="#{navbar_all_raw_materials}">Raw Materials</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="d-flex form-inline my-2 my-lg-0 border px-3">
                        <div>
                            <a class="navbar-brand" th:href="@{/users/profile}">
                                <img width="50" height="50" alt="profile picture" src="/images/employee.png">
                            </a>
                        </div>
                        <div>
                            <span class="text-white">
                            <th:block th:text="#{navbar_welcome}"></th:block>
                            <th:block th:text="${#authentication.principal.fullName}">full name</th:block>
                            !
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <form th:action="@{/users/logout}" th:method="post">
                        <input class="btn btn-link nav-link" type="submit" th:value="#{navbar_logout}">
                    </form>
                </li>
                <li>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar_register}" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar_login}" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar_about}" th:href="@{/about}">About</a>
                </li>
            </th:block>
            <li>
                <form th:method="get">
                    <label class="text-white" th:text="#{navbar_language}" for="lang"></label>
                    <select onchange="this.form.submit()" id="lang" name="lang">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
            </li>
        </ul>
    </div>
</nav>

</html>